/* You can add global styles to this file, and also import other style files */

@import 'menlo-lib/scss/core.scss';

html {
    max-height: 100vh;
    overflow: hidden;
}

menlo-root {
    height: 100%;
    width: 100%;
}
