/* You can add global styles to this file, and also import other style files */
:host {
    display: block;
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ag-theme-quartz {
    height: 100%;
}

menlo-chart {
    display: block;
    width: 75%;
}

.electricity-usage {
    height: 100%;
    width: 100%;
}

.electricity-usage__chart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
